/*  your css code here. If applicable */

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

nav ul li{
	list-style: none;
	float: left;
}

nav ul li a{
	text-decoration:none;
}

main img{
	height: 300px;
	width:100%
}